<% @user.members.each do |member| %>
  <tr>  
    <!-- <td>
      <= member.id %>
    </td> -->
    <td>
      <%= member.first_name %>
    </td>
    <td>
      <%= member.last_name %>
    </td>
    <td>
      <%= member.birth_year %>
    </td>
    <td>
      <!-- Rounded switch -->
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </td>
    
  </tr>
<% end %>
  
  

