<div class="top-posts">
</div>
<div class="user-front-page">
  <div class="container-full-width">
    <div class="main-container">
      <h2>User Page</h2>
      <h3>Hello <%= current_user.first_name.capitalize %></h3>
      <div>
        You have <%= current_user.members.count %> active members.
        <table class="table table-striped table-hover">
          <thead>
            <tr class="sortable-table">
              <!-- <th>
                Id
              </th> -->
              <th>
                First Name
              </th>
              <th>
                Last Name
              </th>
              <th>
                Birth Year
              </th>
              <th>
                Status
              </th>
              <th>
                
              </th>
            </tr>
          </thead>
        
          <tbody>
            <%= render 'member' %> 
          </tbody> 
        </table>  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Add members
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add/Remove members</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'form' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>
        <div>
          <p>
            Thank you for joining to our club.
            Now you have to add memer or members and you can set their status "active or inactive". If one member will tahe a break for couple months please set the status inactive.

          </p>
        </div>

      </div>
    
    </div>
  </div>
</div>



  