<h1>User Index</h1>
<div class="top-front-page">
  </div>
<div class="container-full-width">
  <div class="main-container">
    <h1>Hello <%= current_user.email %></h1>
    <h4>Find me in app/views/users/index.html.erb</h4>
  <p>
    Searching for that perfect color has never been easier, use our HTML color picker to browse millions of colors and color harmonies. ... Use the color picker by clicking and dragging your cursor inside the picker area to highlight a color on the right. Input Hex, RGB, HSL or CMYK values ...
    Searching for that perfect color has never been easier, use our HTML color picker to browse millions of colors and color harmonies. ... Use the color picker by clicking and dragging your cursor inside the picker area to highlight a color on the right. Input Hex, RGB, HSL or CMYK values ...
    Searching for that perfect color has never been easier, use our HTML color picker to browse millions of colors and color harmonies. ... Use the color picker by clicking and dragging your cursor inside the picker area to highlight a color on the right. Input Hex, RGB, HSL or CMYK values ...
    Searching for that perfect color has never been easier, use our HTML color picker to browse millions of colors and color harmonies. ... Use the color picker by clicking and dragging your cursor inside the picker area to highlight a color on the right. Input Hex, RGB, HSL or CMYK values ...
    Searching for that perfect color has never been easier, use our HTML color picker to browse millions of colors and color harmonies. ... Use the color picker by clicking and dragging your cursor inside the picker area to highlight a color on the right. Input Hex, RGB, HSL or CMYK values ...
    Searching for that perfect color has never been easier, use our HTML color picker to browse millions of colors and color harmonies. ... Use the color picker by clicking and dragging your cursor inside the picker area to highlight a color on the right. Input Hex, RGB, HSL or CMYK values ...
  </p>
</div>
</div>
