// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.well-post {
  margin-top: 3%;
  -webkit-box-shadow: 4px 3px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 11px -2px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 11px -2px rgba(0,0,0,0.75);
  background-color: rgba(245, 245, 245, 0.9);
  padding: 5px 30px;
}
.top-posts {
  margin: 0px auto;
  padding: 30px;
  width: 100%;
}
.top-posts h3 {
  text-align: center;
  text-shadow: 1px 1px 3px #fff, 5px 5px 6px #000;
  font-size: 5em;
  font-weight: 500;
  color: #000;
  margin-top: 6% ;
}
.post-image-left img {
  max-height: 450px;
  max-width: 80%;
  float: left;
  margin-left: 1em;
  margin-right: 1em;  
  margin-top: 0px;
  -webkit-box-shadow: 9px 9px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 19px -1px rgba(0,0,0,0.75);
}
.post-image-right img {
  max-height: 450px;
  max-width: 80%;
  float: right;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0px;
  -webkit-box-shadow: 9px 9px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 19px -1px rgba(0,0,0,0.75);
}
.post-height {
  margin-top: 30px;
}
.post-height p{
  margin-left: 30px;
}
.h-post {
  float: left;
  margin-left: 30px;
  text-decoration: underline;
}
.small-post {
  float: right;
  margin-top: 25px;
}
/*/////////////////////////////////////////////
///////////////////////////////////////////////*/
/*/////////////////////////////////////////////
///////////////////////////////////////////////*/
/*/////////////////////////////////////////////
///////////////////////////////////////////////*/
@media only screen and (max-width: 500px) {
  .well-post {
    background-color: rgba(245, 245, 245, 1);
  }
  .post-image-right, .post-image-left {
    height: auto;
    min-width: 100% !important;
    margin-left: 15px !important;
  }
  .post-image-right img, .post-image-left img {
    margin: 0 auto !important;
    height: auto;
    min-width: 100% !important;
    margin-bottom: 20px !important;
    margin-top: -20px !important;
  }
  .h-post{
    min-width: 100% !important;
    text-align: center !important;
  }
  .small-post {
    float: left;
    margin-top: 0px;
    margin-left: 16px;
    margin-bottom: 0;
  }
  .post-height p {
    text-align: justify;
  }
  .form-post{
    max-width: 90% !important;
    padding: 0;
  }
  .new_post {
    max-width: 90% !important;
    margin: 0 auto;
  }
  .top-posts h3 {
    font-size: 3.1em;
    text-shadow: 3px 3px 3px #fff, 5px 5px 6px #000;
  }
  

}



